[submodule "pocketsphinx"]
    path = pocketsphinx
    url = https://github.com/cmusphinx/pocketsphinx
    ignore = dirty
[submodule "sphinxbase"]
    path = sphinxbase
    url = https://github.com/cmusphinx/sphinxbase
    ignore = dirty
