[submodule "deps/pocketsphinx"]
	path = deps/pocketsphinx
	url = https://github.com/cmusphinx/pocketsphinx
[submodule "deps/sphinxbase"]
	path = deps/sphinxbase
	url = https://github.com/cmusphinx/sphinxbase
