recursive-include deps/sphinxbase/include *.h
recursive-include deps/sphinxbase/src *.c
recursive-include deps/sphinxbase/src *.h
recursive-include deps/sphinxbase/swig *.i
prune deps/sphinxbase/include/wince
prune deps/sphinxbase/src/libsphinxad
prune deps/sphinxbase/src/sphinx_adtools
prune deps/sphinxbase/src/sphinx_cepview
prune deps/sphinxbase/src/sphinx_fe
prune deps/sphinxbase/src/sphinx_jsgf2fsg
prune deps/sphinxbase/src/sphinx_lmtools
recursive-include deps/pocketsphinx/include *.h
recursive-include deps/pocketsphinx/src *.c
recursive-include deps/pocketsphinx/src *.h
recursive-include deps/pocketsphinx/swig *.i
prune deps/pocketsphinx/src/gst-plugin
prune deps/pocketsphinx/src/programs
include README.rst
include LICENSE
