recursive-include deps/sphinxbase/include *.h
prune deps/sphinxbase/include/wince
recursive-include deps/sphinxbase/src/libsphinxad *.c
recursive-include deps/sphinxbase/src/libsphinxbase *.c *.h
recursive-include deps/pocketsphinx/include *.h
recursive-include deps/pocketsphinx/src/libpocketsphinx *.c *.h
global-include *.i
graft pocketsphinx/model
graft pocketsphinx/data
include README.md LICENSE